body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#text-display {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 10px 0;
    user-select: none; /* prevent copy */
}

#typing-input {
    width: 90%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
}

#timer, #wpm {
    margin-top: 5px;
    font-size: 18px;
}

#leaderboard {
    margin-top: 20px;
}
